<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <ion-list>
    <ion-item>
      <ion-label>Allow push notifications</ion-label>
      <ion-toggle color="dark"></ion-toggle>
    </ion-item>
  
    <ion-item>
      <ion-label>Share location</ion-label>
      <ion-toggle color="dark"></ion-toggle>
    </ion-item>
  
    <ion-item>
      <ion-label>Access to camera</ion-label>
      <ion-toggle color="dark"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
